FLASK_ENV=development
APP_ADMIN_USERNAME=youradminusername
APP_ADMIN_PASSWORD=youradminpassword
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_password
MAIL_DEFAULT_SENDER=no-reply@example.com