TESTING=0
SECRET_KEY=dev

SESSION_COOKIE_DOMAIN=.docker.localhost
SQLALCHEMY_DATABASE_URI=sqlite:///flaskr.sqlite
SQLALCHEMY_TRACK_MODIFICATIONS=0

# Admin user credentials
APP_ADMIN_USERNAME=youradminusername
APP_ADMIN_PASSWORD=youradminpassword

# Flask-Mail configuration
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_password
MAIL_DEFAULT_SENDER=no-reply@example.com